[Unit]
Description=Frzr Unlock Rootfs

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/frzr-unlock

[Install]
WantedBy=multi-user.target
